#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0

Name=Rambox

# previously installed via appimage
Exec=/home/fynn/.local/bin/rambox

# sometimes installed via rpm
#Exec=/usr/bin/rambox
Icon=/home/fynn/.local/share/icons/rambox.png
Terminal=false

Type=Application
StartupWMClass=rambox
StartupNotify=true

X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=2
