Host github.com
    IdentityFile ~/.ssh/id_github

Host git.fynns.site
    IdentityFile ~/.ssh/id_sojus

Host gitlab.com
    IdentityFile ~/.ssh/id_gitlab

Host gitlab.rz.htw-berlin.de
    IdentityFile ~/.ssh/id_htw_rsa

Host ssh.dev.azure.com
    # Azure Fix (noch nötig?)
    PubkeyAcceptedAlgorithms +ssh-rsa
    IdentityFile ~/.ssh/id_azure

Host gitlab.digiwerft.de
    IdentityFile ~/.ssh/id_sojus
