Host enkime-*
    User enkime

# Management raspi
Host enkime-hutt*
    IdentityFile ~/.ssh/id_enkime_hutt

Host enkime-hutt-ts enkime-hutt
    # hostname is resolved via tailscale
    Hostname hutt

Host enkime-hutt-local
    Hostname 192.168.178.10

# Firewall
Host enkime-fw*
    User admin
    IdentityFile ~/.ssh/id_enkime_fw

Host enkime-fw-local-port1
    Hostname 192.168.1.99

Host enkime-fw-local-port2
    Hostname 192.168.178.1

Host enkime-fw-ts enkime-fw
    ProxyJump enkime-mgmt-ts
    Hostname 192.168.178.1

# QNAP-NAS
Host enkime-wookie
    ProxyJump enkime-mgmt-ts
    IdentityFile ~/.ssh/id_enkime_wookie
    Hostname 10.20.1.1

# Hypervisor
Host enkime-ewok
    ProxyJump enkime-mgmt-ts
    IdentityFile ~/.ssh/id_enkime_ewok
    Hostname 10.20.2.1

# NFS share
Host enkime-ewok-wicket enkime-wicket
    ProxyJump enkime-mgmt-ts
    IdentityFile ~/.ssh/id_enkime_ewok_wicket
    Hostname 10.20.2.2
