Host fw-nc-intern
    User freyer-adm
    IdentityFile ~/.ssh/id_fw
    Hostname 192.168.144.243

Host fw-collabora
    User freyer-adm
    IdentityFile ~/.ssh/id_fw
    Hostname 192.168.144.244

Host fw-talk
    User freyer-adm
    IdentityFile ~/.ssh/id_fw
    # Hostname 88.218.225.43
    Hostname 192.168.144.245

Host fw-nc-extern
    User freyer-adm
    IdentityFile ~/.ssh/id_fw
    Hostname 88.218.225.44
    # Hostname 192.168.145.246
