Host castello firewall router
    Hostname castello.lan.fynns.site
    IdentityFile ~/.ssh/id_castello
    User root
    Port 22

Host baba-yaga* homeassistant*
    Hostname baba-yaga.lan.fynns.site
    IdentityFile ~/.ssh/id_baba-yaga
    User root
    # default port for container
    Host baba-yaga homeassistant
        Port 2222
    # default port for pi
    Host baba-yaga-root homeassistant-root
        Port 22222

Host limoges limoges.lan.fynns.site
    Hostname limoges.lan.fynns.site
    # Hostname 10.0.2.2
    IdentityFile ~/.ssh/id_limoges
    User fynn

Host ptenets-* !ptenets-*.lan.fynns.site
    Hostname %h.lan.fynns.site

Host ptenets-*
    User fynn
    IdentityFile ~/.ssh/id_ptenets

Host bydlo bydlo.lan.fynns.site
    Hostname bydlo.lan.fynns.site
    IdentityFile ~/.ssh/id_bydlo
