Host castello firewall opnsense
    Hostname castello.lan
    IdentityFile ~/.ssh/id_castello
    User fynn
    Port 22
    # RemoteCommand sudo /usr/local/sbin/opnsense-shell

Host castello.remote
    Hostname castello.fynns.site
    IdentityFile ~/.ssh/id_castello
    User fynn
    Port 22
    # RemoteCommand sudo /usr/local/sbin/opnsense-shell

Host kiew router openwrt
	# Hostname router.lan
	Hostname kiew.lan
    IdentityFile ~/.ssh/id_openwrt
	User root

Host baba-yaga* homeassistant*
    Hostname 10.0.1.2
    # Hostname baba-yaga.lan
    IdentityFile ~/.ssh/id_baba-yaga
    User root
    # default port for container
    Host baba-yaga homeassistant
        Port 2222
    # default port for pi
    Host baba-yaga-root homeassistant-root
        Port 22222

Host limoges
    Hostname 10.0.2.2
    IdentityFile ~/.ssh/id_limoges
    User fynn
