Host hyprhvn-web
    Hostname w020ae1a.kasserver.com
    IdentityFile ~/.ssh/id_hyprhvn
    User ssh-w020ae1a

Host k8s-*
    User hyprhvn
    # IdentityFile ~/.ssh/id_schmuyle
    IdentityFile ~/.ssh/id_k8s

Host k8s-a
    Hostname 37.120.166.56

Host k8s-b
    Hostname 152.53.198.215

Host k8s-c
    Hostname 194.36.147.234
