Host bydlo cloud
    Hostname bydlo.fynns.site
    IdentityFile ~/.ssh/id_bydlo

Host schmuyle server
    Hostname schmuyle.fynns.site
    IdentityFile ~/.ssh/id_schmuyle

Host gnomus gnomus.fynns.site
    Hostname gnomus.fynns.site
    ControlPersist=no
    IdentityFile ~/.ssh/id_gnomus

Host web all_inkl
    Hostname w01af1d3.kasserver.com
    IdentityFile ~/.ssh/id_web
    User ssh-w01af1d3

Host storage storage_box
    Hostname u293971.your-storagebox.de
    IdentityFile ~/.ssh/id_storage_box
    User u293971
    Port 23
