Host k8s-*
    User hyprhvn
    IdentityFile ~/.ssh/id_veberas_k8s

# Gateway
Host k8s-grimgerde k8s-gw k8s-gw-grimgerde
    Hostname 152.53.42.50

# Controlplane Nodes
Host k8s-geiravoer k8s-cp-master k8s-cp-geiravoer
    Hostname 152.53.42.51

Host k8s-helmwige k8s-cp-slave1 k8s-cp-helmwige
    Hostname 152.53.42.52

Host k8s-hildr k8s-cp-slave2 k8s-cp-hildr
    Hostname 152.53.42.53

# Worker Nodes
Host k8s-thrima k8s-worker01 k8s-worker-thrima
    Hostname 152.53.42.54

Host k8s-thrud k8s-worker02 k8s-worker-thrud
    Hostname 152.53.42.55

# DB-Server
Host k8s-hrund k8s-db k8s-db-hrund
    Hostname 152.53.42.60

# NFS-Server
Host k8s-oelrun k8s-nfs k8s-nfs-oelrun
    Hostname 152.53.42.61

# Backup-Server
Host k8s-sigrdrifa k8s-backup k8s-backup-sigrdrifa
    Hostname 152.53.42.62

# Kickstarter
Host k8s-skuld k8s-kickstarter k8s-kickstarter-skuld
    Hostname 152.53.42.49
