Host k8s-*
    User hyprhvn
    IdentityFile ~/.ssh/id_veberas_k8s

# Gateway
Host k8s-grimgerde
    Hostname 152.53.42.50

# Controlplane Nodes
Host k8s-geiravoer
    Hostname 152.53.42.51

Host k8s-helmwige
    Hostname 152.53.42.52

Host k8s-hildr
    Hostname 152.53.42.53

# Worker Nodes
Host k8s-thrima
    Hostname 152.53.42.54

Host k8s-thrud
    Hostname 152.53.42.55

# DB-Server
Host k8s-hrund
    Hostname 152.53.42.60

# NFS-Server
Host k8s-oelrun
    Hostname 152.53.42.61

# Backup-Server
Host k8s-sigrdrifa
    Hostname 152.53.42.62

# Kickstarter
Host k8s-skuld
    Hostname 152.53.42.49
