Host *.f4.htw-berlin.de
    user ffreyer
    IdentityFile ~/.ssh/id_htw_rsa

Host !*.f4.htw-berlin.de pumpkin?? pepper?? avocado?? dt?
    # Hostname %h.f4.htw-berlin.de
    user ffreyer
    IdentityFile ~/.ssh/id_htw_rsa

Host tischler
    Hostname lan.der-kunsttischler.de
    IdentityFile ~/.ssh/id_kunsttischler_lan

Host pc?
    ProxyJump tischler
    IdentityFile ~/.ssh/id_tischler_pc_admin

