Host htw
    User ffreyer
    Hostname pumpkin11.f4.htw-berlin.de
    # PubKeyAuthentication yes
    IdentityFile ~/.ssh/id_htw_rsa

Host !*.f4.htw-berlin.de pumpkin*
    user ffreyer
    Hostname %h.f4.htw-berlin.de
    # PubKeyAuthentication yes
    IdentityFile ~/.ssh/id_htw_rsa

Host tischler
    Hostname lan.der-kunsttischler.de
    IdentityFile ~/.ssh/id_kunsttischler_lan

Host pc?
    ProxyJump tischler
    IdentityFile ~/.ssh/id_tischler_pc_admin

