Host *.f4.htw-berlin.de
    User ffreyer
    IdentityFile ~/.ssh/id_htw_rsa

Host !*.f4.htw-berlin.de pumpkin??* avocado??* dt?* cbmi
    Hostname %h.f4.htw-berlin.de
    User cbmi
    Host pumpkin??*
	    IdentityFile ~/.ssh/id_cbmi
	Host cbmi
	    IdentityFile ~/.ssh/id_cbmi_web
	Host avocado??* dt?*
		User ffreyer
		IdentityFile ~/.ssh/id_htw_rsa

Host cbmi-web
    Hostname cbmi.f4.htw-berlin.de
    User cbmi
    IdentityFile ~/.ssh/id_cbmi_web
