#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0

Name=Obsidian Notes

Categories=Notes;Office;
Comment=Start Obsidian to take notes
Keywords=Note taking;Annotation;Markup

Exec=/home/fynn/.local/bin/Obsidian.AppImage
Icon=/home/fynn/.local/share/icons/obsidian-128x128.png
Terminal=false

Type=Application
StartupWMClass=obsidian
StartupNotify=true

MimeType=x-scheme-handler/obsidian;text/html;text/plain;text/markdown;
